.DS_Store
.Rhistory
.venv/
__pycache__/
*.pyc
instance/
project.db
*.db
*.sqlite
*.sqlite3
venv/
.env
node_modules/
playwright-report/
test-results/
.vscode/settings.json
.vscode/*.code-workspace
.vscode
static/uploads/profile_pics/*
!static/uploads/profile_pics/.gitkeep
